#sketchToy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fc0a0a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 625px;
    width: 850px;
    margin: 0 auto;
    border-radius: 7px;
}

#heading {
    text-align: center;
    font-size: 40px;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: blanchedalmond;
}

.heading1 {
    font-size: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
    margin-top: 0;
    font-family: 'Satisfy';
    color: goldenrod;
}

#screen {
    display: grid;
    height: 80%;
    width: 80%;
    background-color: #D8D8D8;
    border-radius: 25px;
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.71);

}

.dot {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 25px;
    border: 3px groove white;
    border-color: white;
}

.controls {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: space-between;
}

.border {
    background-color: #fc0a0a;
}

.menu {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-family: 'Black Ops One', cursive;
    margin-top: 0;
}

#menu1 {
    font-size: 90px;
    
}

#color {
    font-size: 45px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 5px;
}

#classic {
    font-family: 'Black Ops One', cursive;
    font-size: 24px;
    border-radius: 15px;
    background-color: #fc0a0a;
    color: goldenrod;
    box-shadow: 0 9px #999;
}

#rainbow {
    font-family: 'Black Ops One', cursive;
    font-size: 24px;
    border-radius: 15px;
    background-color: #fc0a0a;
    color: goldenrod;
    box-shadow: 0 9px #999;
}

#slider{
    font-family: 'Black Ops One', cursive;
    font-size: 45px;
    padding-left: 5px;
}

input[type="range"] {
    width: 30%;
    height: 10px; 
    background-color: #fc0a0a;
    border: none;
    border-radius: 5px; /* Round the corners */
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: goldenrod;
    border: none;
    border-radius: 50%; /* Make it round */
    cursor: pointer;
  }

.footer {
    font-family: 'Black Ops One', cursive;
    font-size: 100%;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  